<h1 class="text-secondary text-light bg-dark"> EditStore </h1>

<%= render 'form' %>
<%= link_to 'create a new store', new_store_path, class: "btn btn-dark" %>
<%= link_to 'return to store', stores_path, class: "btn btn-danger" %>